@font-face {
font-family: 'Sanchez';
font-style: normal;
font-weight: 400;
src: url(https://static.canva.com/static/webfonts/Sanchez-Regular.woff) format('woff');
}
@font-face {
font-family: 'Sanchez';
font-style: normal;
font-weight: 700;
src: url(https://static.canva.com/static/webfonts/Sanchez-Regular.woff) format('woff');
}
@font-face {
font-family: 'Sanchez';
font-style: italic;
font-weight: 400;
src: url(https://static.canva.com/static/webfonts/Sanchez-Italic.woff) format('woff');
}
@font-face {
font-family: 'Sanchez';
font-style: italic;
font-weight: 700;
src: url(https://static.canva.com/static/webfonts/Sanchez-Regular.woff) format('woff');
}
